/*      ./dart-sass/sass sass/main.scss style.css --watch        */

@import "./libs/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
$couleur1: #9356dc;
$couleur2: #ff79da;
$couleur3: #99e2d0;
$couleur4: #f2f2f2;

$ombre1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$ombre2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

* {
  font-family: Roboto, sans-serif;
}
.main_wrapper {
  min-width: 280px;
  margin: auto;
}
.coeur::after{
  content: "hello";
  width: 100%;
  height: 100%;
  background: brown;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0px 15px 0px;
  .logo-image {
    width: 40%;
  }
  .header-nav {
    display: none;
  }
}
.banner {
  height: fit-content;
  .banner-image {
    display: none;
  }
}
.recherche {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5em;
  background: #f2f2f2;
  height: 280px;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(218, 216, 216);
    border-top: 2px rgb(243, 236, 236) inset;

    input {
      border: none;
      width: 50%;
      text-align: start;
      background: rgb(218, 216, 216);
      font-size: larger;
      color: rgba(#000, $alpha: 0.8);
    }
    .fa-map-marker-alt {
      margin-right: 15px;
    }
  }
  .contenaite-text {
    width: 70%;
    letter-spacing: 0.5px;
    text-align: center;
    h1 {
      font-size: x-large;
      font-weight: 600;
      line-height: normal;
      margin: 15px 0px;
    }
    p {
      font-size: medium;
      font-weight: 400;
      line-height: normal;
      margin: 15px 0px;
    }
  }
  .btn {
    padding: 10px;
    margin: 20px;
  
    font-size: 15px;
    font-weight: 600;
    border: 1px transparent solid;
    &--border {
      border-radius: 25px;
    }
    &_color {
      background: linear-gradient(75deg, $couleur1 20%, $couleur2 100%);
      color: #fff;
      &:hover{
        background: linear-gradient(75deg, $couleur1 50%, $couleur2 100%);
        opacity: .9;
        border: 2px solid $couleur1;
       
       
      }
    }
    
  }
}
.fonctionement {
  margin: 20px 10px;
  h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
.fonction-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 
  z-index: 0;
  &_items {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
   
    height: inherit;
    letter-spacing: 1px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 400ms ease-in;
  
  
   
    
    strong {
      color: rgb(0, 0, 0);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
   
   
    }
  }
 

  &_style {
    width: 90%;
    text-align: center;
    position: relative;
    line-height: 35px;
    height: 70px;
    background: $couleur4;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    box-shadow: $ombre1;
   
  

    .fa-stack {
      position: absolute;
      left: -18px;
      bottom: 18px;
      font-size: 15px;
      color: $couleur1;
      z-index: 1;
      strong{
        color: #fff;
      }
    
    }
    .icon {
     

      color: rgba(59, 57, 57, 0.7);
      margin-right: 10px;
    }
   
  }
}
.fonction-btn_style::after{
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  right: 0;
  top:0;
  width: 0px;
  height: 100%;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;


  transition: all 400ms ease-in;
  overflow: hidden;
  color: #fff;
  z-index: 1;

}
.fonction-btn_style::before{
  content: "";
  width: 0px;
  height: 100%;
  background:$couleur3;
  position: absolute;
  right: 0;
  top:0;
  transition: all 400ms ease-out;
  z-index: 1;
  border-radius: 0px 15px 15px 0px;
  
}
.fonction-btn_style:hover::before{
  width: 80px;
}
.fonction-btn_style:hover::after{
width: 80px;
transform: rotate(-360deg);
}
.fonction-btn_style:hover > .fonction-btn_items{
  width: 270px;
  padding-left: 70px;
}

.contenaire{
  display: flex;
}

#wrap{
height: 25px;
width: 25px;
overflow: hidden;
border:0px;
margin: 20px;
transform: scale(1.4);
}
#wrap:hover>.fill{
animation-name: fillAction;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
    animation-duration: 3s;
    animation-fill-mode: forwards;
    mix-blend-mode:screen;

}





#waveShape{
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    width: 25px;
    height: 25px;
    fill: red;
}

#wrap i{
position: absolute;
font-size:25px; 
background:#fff;


}
.far.fa-heart::after{
  font-family: "Font Awesome 5 Free";
  content: "\f004";
}

@keyframes fillAction {
0% {
  transform: translate(0, 25px);
}
100% {
  transform: translate(0, -20px);
}
}
@keyframes waveAction {
0% {
  transform: translate(-45px, 0);
}
100% {
  transform: translate(0, 0);
}
}

.restaurants {
  padding-top: 10px;
  width: 100%;
  background: #f2f2f2;
  &-titre {
    margin:10px 15px;
    font-size: 18px;
    font-weight: 600;
 
    line-height: 25px;
 
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-items {
    width: 90%;
    margin-bottom: 25px;
    box-shadow: $ombre2;
    border-radius: 20px;
    box-sizing: border-box;
    
    &:hover{
      box-shadow: $ombre1;
     
    }
   

    &_description {
      display: flex;
      background: #fff;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 0px 0px 20px 20px;
    }
    svg{
      width:  45px;
      height: fit-content;
      display: block;
      g{
        fill:transparent;
        stroke-width: 600;
        stroke:black;
        position: relative;
        overflow: hidden;
        transition: all .5s;
        z-index: 0;

        
      }
     

      g:hover{
        top:0;
        fill:blue;
      }   
      
      
      
    }
     
    &_titre{
      font-size: 18px;
      font-weight: 600;
    }
   
    &_text {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 300;
      width: fit-content;
      letter-spacing: 1px;
    }
    img {
      height: 220px;
      width: 100%;
      display: block;
      object-fit: cover;
      filter: brightness(1.25) contrast(1.2) saturate(1.2);
      border-radius: 20px 20px 0px 0px;
    }
  
  }
  .titre {
    margin: 20px 20px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.menu-contenaire{
  display: flex;
}
.footer_contenaire {
  background: #6e6e6e;
  .footer-list {
    padding: 10px;
    font-size: large;
    margin-left: 20px;

    &_items {
      margin: 15px 0px;

      font-weight: 400;
      letter-spacing: 0.5px;
      a {
        color: #fff;
        .fas.fa-utensils,
        .fas.fa-hands-helping {
          margin-right: 10px;
        }
      }
      strong {
        font-family: Shrikhand;
        letter-spacing: 1px;
        font-size: large;
        line-height: inherit;
      }
    }
  }
}
.btn-action,.histoire{
  display: none;
}
.wave,.infographie-boite,.presse{
  display: none;
}
@media screen and (max-width:320px) {
  .fonction-btn_style .icon {
    padding-right: 5px;

    color: rgba(59, 57, 57, 0.7);
  }
  
}
@media screen and (min-width: 765px) {
  .main_wrapper {
    min-width: 765px;
    max-width: 850px;
    margin: auto;
  }
 

  header {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-image {
      width: 180px;
    }
    .header-nav {
      display: block;

      &_list {
        display: flex;
   
        
        
      }
      &_items {
        background: $couleur1;
        padding: 15px;
        border: 1px transparent solid;

        &:hover {
          border: 1px rgb(116, 111, 111) solid;
          background: lighten($couleur1, $amount: 5);
        }
      
       
        
        a {
          color: #fff;
          font-size: medium;
          font-weight: 500;
        }
       
      }
      .premier{
        border-radius: 20px 0px 0px 20px;
      }
      .dernier{
        border-radius: 0px 20px 20px 0px;
      }
    }
  }
  .banner {
    .banner-image {
      display: block;
    }
    .banner-contenaire {
      width: 100%;
    
      border-top: 10px $couleur3 solid ;
      border-bottom: 10px $couleur3 solid;

      position: relative;
      .recherche {
        height: 250px;
        position: absolute;
        bottom: 120px;
        background: rgba(255, 255, 255, 0);
        form {
          width: 80%;
          border-radius: 25px;
          background: #fff;
          margin-bottom: 30px;
          input {
            background: #fff;
            padding-left: 20px;
            width: 80%;
          }
        }
        .contenaite-text {
          color: #fff;
          margin-bottom: 20px;
          width: 100%;
          background-color: rgba(147, 86, 220,.3);;
          h1 {
            font-size: 35px;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
  .fonctionement {
    padding: 10px;
    margin: 0px 0px 30px 0px ;
    h2 {
      font-size: 25px;
      font-weight: 700;
      margin-left: 30px;
      margin-top: 20px;
    }
  }

  .fonction-btn {
    flex-direction: row;
    &_style {
      margin: 0px 10px;
      a {
        font-size: 18px;
        
        strong{
          font-size: 14px;
        }
      }
    }
  }
  .fonction-btn_style:hover::before{
    width: 50px;
  }
  .fonction-btn_style:hover::after{
  width: 50px;
  transform: rotate(-360deg);
  }
  .fonction-btn_style:hover > .fonction-btn_items{
    width: 190px;
    padding-left: 50px;
  }

  .restaurants {
    border-radius: 25px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-titre{
      font-size: 22px;
      font-weight: 400;
      margin: 10px 0px 20px 20px;
      align-self: flex-start;
    }
  }
  .btn-action{
    display: block;
    background: linear-gradient(75deg, $couleur1 20%, $couleur2 100%);
      color: #fff;
      padding: 10px;
      font-size: large;
      letter-spacing: .5px;
      border-radius: 15px;
     
      margin-bottom: 20px;
      &:hover{
        background: $couleur2 ; 
        opacity: .9;
        border: 2px solid $couleur1;
      }

  }
  .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .restaurants-items {
    margin-bottom: 25px;
    width: 45%;
    img {
      height: 200px;
    }
  }
  .presentation{
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    img{
      height:50px;
      display: block;
      
    }
  }
  .histoire {
    display: block;
   
    font-size: medium;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1px;
    height: fit-content;
    background: $couleur1;
    color: #fff;
    .text{
      padding: 10px;
      font-size: large;
    }
    .star{
      margin: 10px;
      text-transform: capitalize;
      font-weight: 500;
      
    }
    h2{
      margin: 10px 20px;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
 
      font-family: Shrikhand ;
    }
  }
  .concepte {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    &-items {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 8px $couleur3 solid;
      background: #fff;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        margin-top: 15px;
      
        
       
        filter: saturate(1.2);

      }
   
    }
    &-boite{
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  }
  .infographie-boite{
    display: flex;

    flex-direction: column;
    .text{
      align-self: center;
      font-size: 22px;
      line-height: 35px;
      font-weight: 400;
      font-family: Shrikhand ;
    }
    .btn\.btn-action{
      background: linear-gradient(75deg, $couleur1 20%, $couleur2 100%);
      border-radius: 20px;
      padding:15px;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      align-self: center;
      margin: 20px 0px;
    }
  }
  .infographie{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &-contenaire{
      padding: 10px;
      width: 90%;
      display: flex;
      justify-content: space-between;
     
   

  }
  &-items{
    width: 30%;
  }
  &-text{
    margin: 20px;
    text-align: justify;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
  }
}

  
  .titre{
    font-size: 25px;
    font-family: Shrikhand;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 25px 0px 0px 20px;

  }
}
