/*             ./dart-sass/sass sass/style-menu.scss style-menu.css --watch              */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.main_wrapper {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
}

.loader-contenaire {
  margin: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  transform: scale(1);
  animation: start;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  -webkit-animation: tour 2s linear infinite;
  /* Safari */
  -webkit-animation-iteration-count: 5;
  animation: tour 2s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.loader .spinner {
  display: flex;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  position: absolute;
}
.loader .spin-1 {
  border-right-color: #9356dc;
  border-left-color: #9356dc;
  width: 150px;
  height: 150px;
  animation: tour 1.3s linear infinite;
}
.loader .spin-2 {
  border-right-color: #ff79da;
  border-left-color: #ff79da;
  width: 100px;
  height: 100px;
  animation: tourAR 1.4s linear infinite;
}
.loader .spin-3 {
  border-right-color: #99e2d0;
  border-left-color: #99e2d0;
  width: 50px;
  height: 50px;
  animation: tour 1.2s linear infinite;
}

@keyframes start {
  0% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.05);
  }
  100% {
    transform: scale(0);
  }
}
/* Safari */
@-webkit-keyframes tour {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes tour {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tourAR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
body {
  background: #fff;
  font-family: Roboto, sans-serif;
}

.header {
  width: 100%;
  margin: 5px 20px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-nav img {
  transform: scale(45%);
}
.header-nav span {
  font-size: 22px;
  position: absolute;
  left: 0px;
}

.banner {
  width: 100%;
}
.banner-image {
  height: 250px;
}
.banner-image-1 {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  height: 250px;
}
.banner-image-2 {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  height: 250px;
}
.banner-image-3 {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  height: 250px;
}
.banner-image-4 {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  height: 250px;
}

@keyframes menu-items {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu {
  margin-top: -35px;
}
.menu-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 25px 25px 0px 0px;
  height: fit-content;
}
.menu-table_titre {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand;
  font-size: 22px;
  padding: 15px;
  letter-spacing: 1px;
  position: relative;
}
.menu-table_titre .far.fa-heart {
  position: absolute;
  right: 40px;
}
.menu button {
  padding: 10px;
  margin: 20px 0px;
  font-size: 15px;
  font-weight: 600;
  border: 1px transparent solid;
  border-radius: 25px;
  background: linear-gradient(75deg, #9356dc 20%, #ff79da 100%);
  color: #fff;
}
.menu-list {
  width: 90%;
}
.menu-list_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-list_items {
  border-radius: 20px;
  background: white;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: all 450ms 50ms cubic-bezier(1, -0.18, 0.89, 1.65);
}
.menu-list_items .plat {
  font-size: large;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-list_items .description {
  font-size: medium;
  font-weight: 300;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-list_items span {
  font-weight: 400;
  align-self: flex-end;
  padding-left: 10px;
  transition: transform 400ms ease-in-out;
}
.menu-list_titre {
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 25px;
}
.menu-list_titre::after {
  content: "";
  border-bottom: 5px solid #99e2d0;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 50px;
}

.menu-list_btn {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 76px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #fff;
  transition: all 400ms ease-in-out;
  z-index: 1;
}

.premier {
  animation: menu-items 3s 2s ease both;
}

.deuxieme {
  animation: menu-items 3s 3s ease both;
}

.troisieme {
  animation: menu-items 3s 4s ease both;
}

.quatrieme {
  animation: menu-items 3s 5s ease both;
}

.cinquieme {
  animation: menu-items 3s 6s ease both;
}

.sixieme {
  animation: menu-items 3s 7s ease both;
}

.septieme {
  animation: menu-items 3s 8s ease both;
}

.huitieme {
  animation: menu-items 3s 9s ease both;
}

.neuvieme {
  animation: menu-items 3s 10s ease both;
}

.dix {
  animation: menu-items 3s 11s ease both;
}

.menu-list_btn::before {
  content: "";
  width: 0px;
  height: 100%;
  background: #99e2d0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.menu-list_btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 450ms 50ms ease-in-out;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.menu-list_btn:active::before {
  width: 70px;
}

.menu-list_btn:active::after {
  width: 70px;
  transform: rotate(-360deg);
}

.menu-list_btn:active > .menu-list_items {
  width: 280px;
}

.menu-list_btn:active > .menu-list_items > span {
  transform: translateX(5px);
  font-weight: 500;
}

.footer_contenaire {
  background: #6e6e6e;
  padding: 20px;
}

.footer-list_items {
  margin: 10px 0px;
}
.footer-list_items a {
  color: #fff;
}
.footer-list_items span {
  margin-right: 10px;
}

@media screen and (min-width: 765px) {
  .menu-list_btn:active > .menu-list_items {
    width: 550px;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style-menu.css.map */
